html,body{width: 100%; height: 100%; background-image: url("images/sky_copy.jpg");}

#page_head{

	width: 70%;
	background: white;
	color: black;
	display: inline-block;
	text-align: center;
	margin-left: 15%;
	margin-top: 0;
	position: fixed;
	z-index: 9999;
}

#menu_bar{
 
    background-color: white;
	text-align: center;
	width: 70%;
	font-size: 16px;
	margin-left: 15%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.affix {

    top: 0;
    // width: 70%;
    margin-top: 69px;
    z-index: 9999 !important;
}


nav{

	width: 98%;
}

nav a{

	text-decoration: none;
	color: black;
	display: inline-block;
	padding-left: 70px;
}

nav a:hover{

	text-decoration: none;
	color: #AAC0CB;
}

#map_btn{

	width: 2%;
	height: 50%;
	float: right;
	margin-left: 15px;
}
#b1{

	background-color: black;
	color: white;
	width: 53px;
}
span{
 
    width: 1%;
	margin-right: 30px;
}

#buffer{

	height: 130px;
	width: 70%;
	display: inline-block;
	margin-left: 15%;
	z-index: 0;
	background-color: white;
	color: black;
	text-align: center;
}

#page_mainbody{

	height:100%;
    width: 70%;
    margin-left: 15%;
    display: inline-block;
    padding-top: 2px;
    z-index: 0;
}

#page_grid{

    margin-top: 18px;
	position: relative;
}

.row{

	background-color: white;
}
.col-md-4{
  
  border: 2px solid white;
  border-radius: 3px;
}

.article_box:hover{

	background-color: #E1E3E4;
}

.article_box{

	width: 100%;
}

article{

    padding: 10px;
    margin-top: 10px;
	width: 100%;
	font-size: 14px;
	overflow: hidden;
}

h4,h6{

	text-align: center;
}

.location{
	font-style: italic;
}

.pictures{

	width: 100%;
	height: 500px;
	object-fit:cover;
}


footer{

	width: 100%;
	/*background-color: white;*/
	color: black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	display: inline-block;
	font-size: 13px;
	margin-top: 10px;
	margin-left: 15%;
	padding-bottom: 30px;
}

#news{

	width: 50%;
	border-right: 2px solid black;
	float: left;
}
label{

	width:50px;
	font-size: 15px;
}
button.signupbtn{

   width: 70px;
   height: 26px;
   background-color: white;
   color: black;
   border-radius: 4px;
   font-size: 14px;
   margin-left: 23px;
}

#contact{
    
    width: 50%;
    padding-left: 35px;
    float: right;
    font-size: 15px;

}
#newsletter{

	text-align: left;
}